body{
    background: #BDBDBD;
}
{box-sizing: border-box;}

  .column {
      float: left;
      width: 30%;
      padding right: : 40px;
      margin-: 5px;
  }
      .row::after {
      content:
      display: table;
      clear: both;
  }
  .form-check-input{
    margin-top: 30px;
  }
  .btn-primary{
    margin-top: 20px;
  }
  
  