<div class="container">
    <h4>Portfolio</h4><p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
    
      magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    <div class="container">
    <div class="row">
    <div class="col-4">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS4AAACnCAMAAACYVkHVAAAAA1BMVEWzs7P94mLeAAAASElEQVR4nO3BgQAAAADDoPlTH+ECVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcA8WpAAGgSEcbAAAAAElFTkSuQmCC" width="350" height="200"> <p style="color:blue">Project Name</p> <p>lorem ipsum sit amet,consectetur adipiscing elit. Nam viverra cuismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-4">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS4AAACnCAMAAACYVkHVAAAAA1BMVEWzs7P94mLeAAAASElEQVR4nO3BgQAAAADDoPlTH+ECVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcA8WpAAGgSEcbAAAAAElFTkSuQmCC" width="350" height="200"> <p style="color:blue">Project Name</p> <p>lorem ipsum sit amet,consectetur adipiscing elit. Nam viverra cuismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    
    <div class=" col-4">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS4AAACnCAMAAACYVkHVAAAAA1BMVEWzs7P94mLeAAAASElEQVR4nO3BgQAAAADDoPlTH+ECVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcA8WpAAGgSEcbAAAAAElFTkSuQmCC" width="350" height="200"> <p style="color:blue">Project Name</p><p>lorem ipsum sit amet,consectetur adipiscing elit. Nam viverra cuismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    </div>
    </div>